services:
  - type: web
    name: fitness-backend
    runtime: docker
    rootDir: "Fitness MicroService Project/Fitness MicroService Project-Backend"
    plan: free
    dockerfilePath: Dockerfile
    envVars:
      - key: SERVER_PORT
        value: 8080
